.gujaratiFont
{
    font-family:centurySchoolbook;
    font-size:17px;
}
.englishFont
{
    font-family:Tahoma;
    font-size: small;
}
html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
