.container {
    margin-top: 14%;
    margin-bottom: 7%;
    color: #6f006f;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.row div img {
    height: auto;
    width: 70%;
}

.row span {
    display: block;
}
