div.countDisplay {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

div.countDisplay > span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: darkred;
}

div.countDisplay > button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 25px;
    width: 150px;
    border-radius: 7px;
    background-color: white;
    outline: none;
}

div.countDisplay > button > span{
    color: darkred;
}

.resetCounter {
    height: 35px;
    width: 50%;
    margin: 10% auto 0 auto;
    display: block;
    position: relative;
    color: white;
	background: #6f006f;
	background: -webkit-gradient( linear, left top, left bottom, from( #6f006f ), to( white ) );
	background: -webkit-linear-gradient( top, #6f006f, white );
	background: -moz-linear-gradient( top, #6f006f, white );
	background: -ms-radial-gradient( top, #6f006f, white );
	background: -o-linear-gradient( top, #6f006f, white );
	background: linear-gradient( top, #6f006f, white );
    border-radius: 10px;
    outline: none;
}

#mantraJaapButton {
    height: 75px;
    width: 50%;
    margin: 25% auto 10px auto;
    display: block;
    position: relative;
    color: white;
	background: #6f006f;
	background: -webkit-gradient( linear, left top, left bottom, from( #6f006f ), to( white ) );
	background: -webkit-linear-gradient( top, #6f006f, white );
	background: -moz-linear-gradient( top, #6f006f, white );
	background: -ms-radial-gradient( top, #6f006f, white );
	background: -o-linear-gradient( top, #6f006f, white );
	background: linear-gradient( top, #6f006f, white );
    border-radius: 15px;
    outline: none;
}

.historyButton {
    height: 35px;
    width: 50%;
    margin: 40px auto 0 auto;
    display: block;
    position: relative;
    color: white;
	background: #6f006f;
	background: -webkit-gradient( linear, left top, left bottom, from( #6f006f ), to( white ) );
	background: -webkit-linear-gradient( top, #6f006f, white );
	background: -moz-linear-gradient( top, #6f006f, white );
	background: -ms-radial-gradient( top, #6f006f, white );
	background: -o-linear-gradient( top, #6f006f, white );
	background: linear-gradient( top, #6f006f, white );
    border-radius: 10px;
    outline: none;
}

#mantraLekhanTextDiv {
    margin-bottom: 10%;
}

#mantraLekhanTextDiv input {
    height: 30px;
    width: 60%;
    margin: 20% auto 0 auto;
    display: block;
    position: relative;
    color: #6f006f;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
}

#mantraLekhanTextDiv span {
    display: block;
    margin: 2% auto;
    text-align: center;
}
