.navbar-inverse {
    background-color: #6f006f;
    text-align: center;
    width: 100%;
    height: 5%;
    color: white;
}

.navbar-header {
    margin: 2% auto;
}

.homeButton {
    display: inline-block;
    color: white;
    float: left;
    padding-top: 1.5%;
    margin: 0 10px 0 10px;
    font-size: 125%;
    background-color: transparent;
    text-align: center;
}

.container-fluid {
    display: inline-block;
    padding-top: 1.5%;
}

.font-resize {
    display: inline-block;
    float: right;
    color: white;
    background-color: transparent;
    text-align: center;
    margin-top: 3px;
    margin-right: 2%;
    padding-right: 2px;
    padding-left: 2px;
    border: 1px solid white;
}

.font-resize #smallFont {
    font-size: 100%;
}

.font-resize #bigFont {
    font-size: 125%;
}