.navbar-inverse {
    background-color: #6f006f;
    text-align: center;
    width: 100%;
    height: 5%;
    color: white;
}

.navbar-header {
    margin: 2% auto;
}

.homeButton {
    display: inline-block;
    color: white;
    float: left;
    padding-top: 1.5%;
    margin: 0 10px 0 10px;
    font-size: 125%;
    background-color: transparent;
    text-align: center;
}
