#fontSizeSlider {
	display: inline-block;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.modal-footer button {
	display: inline-block;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}

.blue {
	color: #6f006f;
}
