<?xml version='1.0' encoding='utf-8'?>
<widget id="org.wadhwanmandir.officialmobileapp" version="1.5.1" versionCode="10501" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Wadhwan Mandir</name>
    <description>
        This is official mobile application of Swaminarayan Mandir - Wadhwan.
    </description>
    <author email="wadhwanmandir@gmail.com" href="http://wadhwanmandir.org">
        Shree Radhakrishnadev Yuvak Mandal - Wadhwan
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="27" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <gap:plugin name="cordova-plugin-console" source="npm" />
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-datepicker" source="npm" />
    <gap:icon src="res/Android/res/drawable/icon.png" role="default" />
    <gap:splash src="res/Android/res/drawable/screen.png" role="default" />
    <gap:platform name="android">
        <gap:preference name="AndroidLaunchMode" value="singleTop"/>
        <gap:preference name="android-minSdkVersion" value="21" />
        <gap:preference name="android-targetSdkVersion" value="27" />
        <gap:preference name="android-versionCode" value="10501" />
    </gap:platform>
    <platform name="android">
        <icon density="ldpi" qualifier="ldpi" src="res/Android/res/drawable-ldpi/icon.png" />
        <icon density="mdpi" qualifier="mdpi" src="res/Android/res/drawable-mdpi/icon.png" />
        <icon density="hdpi" qualifier="hdpi" src="res/Android/res/drawable-hdpi/icon.png" />
        <splash density="land-ldpi" qualifier="land-ldpi" src="res/Android/res/drawable-land-ldpi/screen.png" />
        <splash density="land-mdpi" qualifier="land-mdpi" src="res/Android/res/drawable-land-mdpi/screen.png" />
        <splash density="land-hdpi" qualifier="land-hdpi" src="res/Android/res/drawable-land-hdpi/screen.png" />
        <splash density="port-ldpi" qualifier="port-ldpi" src="res/Android/res/drawable-ldpi/screen.png" />
        <splash density="port-mdpi" qualifier="port-mdpi" src="res/Android/res/drawable-mdpi/screen.png" />
        <splash density="port-hdpi" qualifier="port-hdpi" src="res/Android/res/drawable-hdpi/screen.png" />
    </platform>
    <access origin="*" />
    <access origin="mailto:*" launch-external="yes" />
    <allow-intent href="market:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" launch-external="yes" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <plugin name="phonegap-plugin-push" spec="~1.10.5">
        <variable name="SENDER_ID" value="476875120878" />
    </plugin>
    <allow-navigation href="*" />
</widget>